<%- include("partials/header") %>

<div class="container">
    <h1><%= campground.name %></h1>
    

    <img src="<%= campground.image %>" alt="">

    <p>
        <%= campground.description %>
    </p>

    
    <a href="/campgrounds">Grįžti atgal</a>
</div>



<%- include("partials/footer") %>